.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.image {
    background: white;
    max-width: 50ch;
    padding: 1em;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;

}

.image > a {
    display: block;
    position: absolute;
    bottom: 2%;
    text-decoration: none;
    color: #999;
}

.image > img {
    display: block;
    margin-bottom: 3em;
}


