.container {
    background: white;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    width: 80%;
    max-width: 25em;
}

fieldset:not(:last-child) {
    margin-bottom: 2em;
}

fieldset {
    border: none;
}

fieldset legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

fieldset p {
    display: flex;
    gap: 0.5em;
    align-items: center;
    /* justify-content: center; */
}

input[type="radio"] {
    appearance: none;
    width: 1.6em;
    background: orange;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    border: 1px solid darkorange;
    cursor: pointer;
}

input[type="radio"]:checked::after {
    display: block;
    content: '';
    background: darkgoldenrod;
    inset: 0.2em;
    position: absolute;
    border-radius: inherit;
    transition: backgroud-color linear 5s;
}

input[type="checkbox"] {
    appearance: none;
    width: 2.5em;
    background: red;
    aspect-ratio: 2/1;
    position: relative;
    border-radius: 5em;
    border: 1px solid darkred;
    cursor: pointer;
}

input[type="checkbox"]::after {
    display: block;
    content: '';
    background: #fff;
    position: absolute;
    width: 0.85em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    top: 11%;
    left: 5%;
    transition: background-color linear 0.2s;
}
input[type="checkbox"]:checked::after {
    display: block;
    content: '';
    background: darkgoldenrod;
    inset: 0.2em;
    position: absolute;
    border-radius: inherit;
    top: 11%;
    left: 60%;
    background-color: #fff;
    transition: 
        left ease-in 0.2s;
}

input[type="checkbox"]:checked {
    background-color: green;
    border-color: darkgreen;
}
